[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
urllib3 = "*"
requests = "*"
gunicorn = "*"
django-heroku = "*"
heroku = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2 = "*"



[requires]

python_version = "3.6.4"
