[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
"urllib3" = "*"
requests = "*"
gunicorn = "*"
django-heroku = "*"
heroku = "*"
dj-database-url = "0.4.2"
whitenoise = "3.3.1"
psycopg2 = "2.7.4"



[requires]

python_version = "3.6"
