{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Allo</title>
    <link rel="stylesheet" href="{% static "mygist/css/style.css" %}">
  </head>
  <body>
    <div class="code-frame-container">
      {% for gist in gists %}
        <div class="code-frame">
          <p class="code-commentary">
            {{ gist.commentary }}
          </p>
          <p class="code-category">
            {{ gist.category }}
          </p>
          <script src={{ gist.get_embded }}></script>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
